@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Monoton&display=swap');

//상단 영역
header {
  width: 100%;
  height: 40vh;
  background: #222;
  padding: 10vh 5vw;

  h1 {
    font: normal 6vw/1 "Monoton";
    color: #fff;
    margin-bottom: 5px;
    
  }
  p {
    font: normal 1.7vw/1 "Gruppo";
    color: #eee;
    letter-spacing: 2px;
  }

}

//시퀀스 이미지 영역
section {
  width: 100%;
  height: 50vh;
  background: #000;
  position: relative;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
// 하단 영역
footer {
  width: 100%;
  height: 10vh;
  background: #222;
  padding: 3vh 5vw;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    font: 14px/1 "arial";
    color: #999;
    letter-spacing: 4px;
  }
  ul {
    display: flex;
    a {
      font-size: 20px;
      color: #bbb;
      margin: 0px 10px;
    }
  }
}
